<div class="col">
  <div class="card card-product-grid">
    <a href="#" class="img-wrap"> <img src="assets/images/prodotti/1.jpg"
       class="img-rounded"  width="180" height="225" alt="Product"> </a>
    <div class="info-wrap">
      <a href="#" class="title text-truncate">Barilla - Penne Rigate Kg 0.5</a>
      <div class="price mb-2">€ 0.89</div> <!-- price.// -->

      <a href="#" data-bs-toggle="dropdown" class="btn btn-sm btn-light">
          <i class="material-icons md-edit"></i>Modifica
      </a>
      <a href="#" data-bs-toggle="dropdown" class="btn btn-sm btn-outline-danger">
          <i class="material-icons md-delete_forever"></i>Elimina
      </a>
    </div>
  </div>
</div>
